.slider .btn {
  margin-top: 20px;
}

.section-search input {
  padding: 5x !important;
  font-size: 18px !important;
  width: 50% !important;
  border: #f4f4f4 3px solid !important;
}

.autocomplete-content {
  position: absolute;
  width: 50%;
  text-align: center;
}
